{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
     <!-- Three columns of text below the carousel -->
     <div class="mt-5">
        <h2>Nos produits du moment !</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div><!-- /.row -->
    </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Des gacha tout droit du Japon !  <span class="text-muted">Pour petits et grands </span></h2>
                <p class="lead">Retrouver toutes sortes de gachapon plus fous les uns que les autres ! Du bonheur a l'etat pur.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('/uploads/gachapon.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Retrouver nos box faites par les locaux ! <span class="text-muted">Pour encore plus de personnalisation</span></h2>
                <p class="lead">Bientot disponible sur votre site Omiya</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('/uploads/marchejap.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>
 
        <!-- /END THE FEATURETTES -->
    {% endblock %}    
