{% extends 'base.html.twig' %}

{% block title %}Nos informations{% endblock %}

{% block content %}

<img src="{{ asset( 'uploads/logo-omiya.png' ) }}" alt="" width="340px">

<p>Omiya est un site édité par Omiya Reuun</p>

<p>Omiya est une entreprise japonaise basée à Osaka depuis le 9 août 2019 et inscrite sous forme de kabushiki gaisha (株式会社) au capital de 1 million de yens depuis le 23 février 2020.</p>

<p>Adresse au Japon</p>

<p>大阪市葛飾区鎌倉4-18-2
Osaka-shi Katsushika-Ku Kamakura 4-18-2</p>

<p>Dirigeant
Kevin Bellier</p>

<p>会社概要 (Kaisha gaiyō) Profil de la société</p>

<p>会社名(Kaishamei) ：Omiya　株式会社　<br>（おみや　株式会社）</p>

<p>創立 (Soritsu) Fondé：令和1年8月9日</p>

<p>資本金 (Shihonkin) Capital ：100万円</p>

<p>役員構成 (Yakuin kōsei)：代表取締役 <br>(Daihyō torishimariyaku)　Kevin Bellier （ケビン　ベリエ）</p>

<p>雇用人数 (Koyō ninzū) ：10名</p>

<p>住所 (Jūsho) ：大阪市葛飾区鎌倉4-18-2</p>

<p>電話 ：03－6801－7575</p>　　

<p>FAX：03－6801－7576</p>

<p>主事業内容 (Shu jigyō naiyō) <br> Contenu principal：オンラインショップ（製菓 - Seika）Omiya</p>

<p>取引銀行 (Torihiki ginkō) ：大阪市大国町UFJ銀行</p>

{% endblock %}
