{% extends 'base.html.twig' %}

{% block title %}Nos informations{% endblock %}

{% block content %}

<img src="{{ asset( 'uploads/logo-omiya.png' ) }}" alt="">

<p>Omiya est un site édité par Omiya Reuun</p>

<p>Omiya est une entreprise japonaise basée à Osaka depuis le 9 août 2019 et inscrite sous forme de kabushiki gaisha (株式会社) au capital de 1 million de yens depuis le 23 février 2020.</p>

<p>Adresse au Japon</p>

<p>大阪市葛飾区鎌倉4-18-2
Osaka-shi Katsushika-Ku Kamakura 4-18-2</p>

<p>Dirigeant
Kevin Bellier</p>

<p>会社概要</p>

<p>会社名 ：IOmiya　株式会社　（おみや　株式会社）</p>

<p>創立 ：平成27年2月23日</p>

<p>資本金 ：100万円</p>

<p>役員構成 ：代表取締役　Kevin Bellier （ケビン　ベリエ）</p>

<p>取締役 :　熊倉　孝洋</p>

<p>雇用人数 ：10名</p>

<p>所在地 ：東京都葛飾区鎌倉4－18－2</p>

<p>電話 ：03－6801－7575　　FAX：03－6801－7576</p>

<p>主事業内容 ：オンラインショップ（製菓）Omiya</p>

<p>取引銀行 ：東京三菱UFJ銀行</p>

{% endblock %}
